*{
    padding: 0px;
    margin: 0px;
}

.app{
    .link{
        color: inherit;
        text-decoration: none;
    }
}

body.dark {
    background-color: #0d1117;
    color: #f0f6fc;

    .link {
        color: #f0f6fc;
    }
}